body {
	background-color:#ffcccc !important;
}

div {
	text-align:center;
}

p {
	width:75%;
}

.title {
	background-color:black;
	color:white;
}

.title div {
		font-size:40px;
}

.sub {
	background-color:white;
	font-size:25px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}