.title {
width:75%;
margin-left:12.5%;
  text-align: center;
}

form#characters {
float:left;
}
form#generate {
float:left;
clear:left;
}
form#works {
float:right;
}

ol { list-style-type: decimal; }

table {
  border-collapse: collapse;
}

table, td, tr {
  border: 1px solid black;
}

td {
	text-align:center;
}
img {
	height:200px;
}